In [19]:
import csv
from collections import Counter
import pandas as pd
import numpy as np
import re, string, timeit

In [20]:
HotAndNew=pd.read_csv('HotAndNew.csv')
print(HotAndNew.shape)
HotAndNew.head()

(47, 4)

                restaurant        category   stars               location
0              Tiger Sugar      Bubble Tea     4.0      348A Yonge Street
1              Chick-fil-A       Fast Food     4.5       709 Yonge Street
2             Phat Kaphrao            Thai     4.5  3016B Bathurst Street
3  Azkadenya - Mezza Diner  Middle Eastern     4.5  235 Queen Street West
4                  EAT BKK            Thai     4.5     580 Queen Street W

In [21]:
BlogTO=pd.read_csv('BlogTO_mentions.csv')
print(BlogTO.shape)
BlogTO.head()

(424, 1)

                                              titles
0  Popular underground bar is closing after 12 ye...
1  10 great restaurants for Sunday brunch in Toronto
2  Toronto to become one of fourteen Good Food Ci...
3  Toronto Restaurant Openings: YGO Lab, Chiang R...
4  Soufi's announces they're reopening their Toro...

In [22]:
def remove_punctuation(title):
    for punctuation in string.punctuation:
        title= title.replace(punctuation," ")
    title=title.lower()
    return title

In [23]:
def count_in_list(title_list,word):
    temp_list=[token for token in title_list if remove_punctuation(word) in remove_punctuation(token)]
    if len(temp_list)!=0:
        print("{0} has been mentioned in : ".format(word))
        print(temp_list)
        print(" ")
    return len([token for token in title_list if remove_punctuation(word) in remove_punctuation(token)])

In [24]:
HotAndNew["mention_count"]=HotAndNew["restaurant"].apply(lambda x:count_in_list(BlogTO["titles"],x))

Tiger Sugar
['Tiger Sugar Toronto']
Chick-fil-A
['There are still massive lineups at the new Chick-fil-A in Toronto', "This is what it was like inside Toronto's first Chick-fil-A on opening day", 'Protestors storm Chick-fil-A opening in Toronto', 'Christian group plans counter-protest in support of Toronto Chick-fil-A', 'People waited in line overnight for the opening of Chick-fil-A in Toronto', "The protest at Chick-fil-A's Toronto store opening is going to be massive", "Mouse spotted inside Chick-fil-A's first Toronto location", "There's a huge protest planned for the Chick-fil-A opening in Toronto", 'This is when the first Chick-fil-A location is opening in Toronto', 'People are already planning to boycott Chick-fil-A when it opens in Toronto', "Toronto's first Chick-fil-A location is about to open"]
Phat Kaphrao
['Phat Kaphrao']
Bubble Lee
['Bubble Lee Toronto']
Vicino Italian Kitchen
['Vicino Italian Kitchen']
Bloom
["Bloomer's on Queen", 'Bloom Cafe']
Bluestone Lane
['Bluestone Lane Toronto']
Sisters & Co
['Sisters & Co.']
Avelo
['Avelo']
Buono
['Buono']
The Alley
["This Week on DineSafe: King Slice, The Alley, Booster Juice, Allwyn's Bakery, Demetres"]
Roselle West
['Roselle West']
Favorites
['Favorites']
Cass Avenue
["Toronto Restaurant Openings: Bar Poet, Azhar, Cass Avenue, Chen Chen's, Karahi Boys"]
Boat King of Thai Noodles
['Boat King of Thai Noodles']
BAO
['This Week on DineSafe: Tim Hortons, Fet Zun, Ja Bistro, McCafe, Mean Bao, Subway']
Hiwa
["Toronto Restaurant Openings: Daisy, Puffs Pastes, Jester's, Tamasha Social, Hiwa"]
Par-Tee Putt
['Par-Tee Putt']
San Coffee Room
['San Coffee Room']
The Fourth Man in the Fire
['The Fourth Man in the Fire']
Bar Poet
["Toronto Restaurant Openings: Bar Poet, Azhar, Cass Avenue, Chen Chen's, Karahi Boys", 'Bar Poet']
Project Glyph
['Toronto Restaurant Openings: Faim de Loup, Project Glyph, Chavo Gelato, Est, The Salon', 'Project Glyph']
Les epicuriens
['Les Epicuriens']
The Sweet Oven
['The Sweet Oven']
Xango
['Xango']
est Restaurant
['The 10 hottest restaurants in Toronto right now', 'Est Restaurant']
Jollibee
["There was a massive line up outside Toronto's newest Jollibee", 'Jollibee is opening its next Toronto location this week', 'New Jollibee location to open in Toronto this fall', 'Jollibee Wilson']

In [27]:
HotAndNew[HotAndNew["mention_count"]!=0].sort_values(by='mention_count', ascending=False)

,restaurant,category,stars,location,mention_count
1,Chick-fil-A,Fast Food,4.5,709 Yonge Street,11
46,Jollibee,Filipino,3.0,79 Billy Bishop Way,4
42,est Restaurant,Canadian (New),3.0,729 Queen Street E,2
11,Bloom,Cafes,4.0,596 Yonge street,2
35,Project Glyph,Desserts,5.0,40 Hayden Street,2
33,Bar Poet,Bars,3.0,1090 Queen Street W,2
23,BAO,Chinese,3.0,2-270 Spadina Avenue,1
41,Xango,Latin American,3.5,461 King Street W,1
38,The Sweet Oven,Bakeries,4.0,1911 Queen Street E,1
37,Les epicuriens,Ice Cream & Frozen Yogurt,4.0,2109 1/2 Yonge Street,1
32,The Fourth Man in the Fire,Pizza,3.5,832 Dundas Street W,1
31,San Coffee Room,Coffee & Tea,5.0,135 Ossington Avenue,1
30,Par-Tee Putt,Golf,3.0,26 Duncan Street,1
27,Hiwa,Chinese,4.0,64 Edward St,1
0,Tiger Sugar,Bubble Tea,4.0,348A Yonge Street,1
21,Boat King of Thai Noodles,Thai,3.0,770 Bay Street,1
19,Favorites,Salad,4.0,141 Ossington Avenue,1
17,Roselle West,Desserts,4.5,108 Dovercourt Rd,1
16,The Alley,Bubble Tea,5.0,382 Yonge Street,1
15,Buono,Italian,4.0,354 Queen Street W,1
14,Avelo,Vegan,4.5,51 St Nicholas Street,1
13,Sisters & Co,Breakfast & Brunch,4.0,887 Dundas Street West,1
12,Bluestone Lane,Coffee & Tea,5.0,2 Queen St E,1
8,Vicino Italian Kitchen,Italian,5.0,146 Sumach St,1
6,Bubble Lee,Bubble Tea,3.5,469 Queen St W,1
2,Phat Kaphrao,Thai,4.5,3016B Bathurst Street,1
20,Cass Avenue,Cocktail Bars,4.5,150 Eglinton Avenue E,1

In [26]:
HotAndNew.to_csv("AggregatedScore.csv", index=False)