# Convert Yelp restaurants to list

In [4]:
import csv
from collections import Counter
import pandas as pd
import numpy as np

In [5]:
#BlogTO_mentions, HotAndNew
HotAndNew=pd.read_csv('HotAndNew.csv')
HotAndNew.head()

                restaurant        category   stars               location
0              Tiger Sugar      Bubble Tea     4.0      348A Yonge Street
1              Chick-fil-A       Fast Food     4.5       709 Yonge Street
2             Phat Kaphrao            Thai     4.5  3016B Bathurst Street
3  Azkadenya - Mezza Diner  Middle Eastern     4.5  235 Queen Street West
4                  EAT BKK            Thai     4.5     580 Queen Street W

In [3]:
pd.read_csv('BlogTO_mentions.csv')
BlogTO=pd.read_csv('BlogTO.csv')
HotAndNew.head()

                                               titles
0   Toronto's Tiger Sugar biggest sports bar is ge...
1   This glow-in-the-dark bar near Toronto serves ...
2   Toronto is making fun of the crappy sale at Fr...
3   Toronto bars are open late and serving booze u...
4   Toronto restaurant apologizes after owner's so...
5   Tim Hortons is now selling canned soup in Toro...
6   Toronto activists want Ryding-Regency Meat Pac...
7   Toronto restaurants could soon be forced to of...
8   Tim Hortons is now doing Kit Kat everything an...
9   Toronto soul food joint known for its epic Cae...
10  Toronto Restaurant Openings: Daisy Puffs Paste...
11  Toronto wants to take back the abandoned food ...
12  The new winter festival at Canada's Wonderland...
13  One of Toronto's most popular brunch spots is ...
14  Toronto is getting a Starcourt Mall for an epi...
15  The top 10 new restaurant openings in Toronto ...
16  Toronto's ambitious new Russian restaurant clo...
17  Toronto's spot for deluxe bagel sandwiches is ...
18  Quirky No Name ads in Toronto have spread to T...
19  This Week on DineSafe: Tim Hortons Fet Zun Ja ...
20  One of Toronto's favourite Italian restaurants...
21  Popular cheese tea chain Machi Machi just open...
22  Toronto butcher shop that's also a restaurant ...
23  A magical holiday market is coming to downtown...
24                                        Tiger Sugar
25                                           Monasaba
26                                       Chai Pochana
27                                       Bar Vendetta
28                                   Long Time No See
29                           Bread and Salt Bakehouse
30                                    Somun Superstar
31                                      Cocoon Coffee
32                            Beaches Brewing Company
33                          Jack and Lil's Commissary
34                                   Stockyards Grind
35                                              Avelo
36                           The Enchanted Poutinerie
37                                       Bar Piquette
38                             The Palms Jerk & Grill

In [ ]:
#Step 1: Store Yelp Restaurant names as a list
df1=pd.read_csv('HotAndNew.csv')
ylist=df1['restaurant'].tolist()
#Make lower case
ylist = [item.lower() for item in ylist]
df1['restaurant'] = ylist
df1

In [ ]:
#Step 2: Store BlogTO articles names as a list
df2=pd.read_csv('BlogTO_mentions.csv')
blist=df2['titles'].tolist()
#Make lower case
blist = [item.lower() for item in blist]
# remove trailing and leading white spaces
blist = [item.strip(' ') for item in blist]
df2['titles'] = blist
df2

In [ ]:
help(filter)

In [ ]:
#DO THE DICTIONARY WAY #
#Convert Yelp list to Dictionary
restaurantdic = {i : 0 for i in ylist}
# Search for hits in BlogTO from

In [ ]:
#pandas
for title in ylist:
    df2.filter(title)
    restaurantdic[title](df2.size) = df2.filter(title)

In [ ]:
### STOPS AT 1###
for title in restaurantdic:    
    #if title in blist:
    if any(title in s for s in blist):
        restaurantdic[title] += 1
        pass
        #Does not appear to hit twice in the same loop: For example if tiger sugar appears once in reviews, and once in a feature article

In [ ]:
#Check Count
restaurantdic

In [ ]:
#Convert dictionary values to list
mentions = [m for m in restaurantdic.values()]
#mention = str(mentions)
#Step 4: Print new csv with columns:
#Restaurant names | category | Stars | Featured Article/Review Count | *Aggregated score* | Location

In [ ]:
#Step 4: Print new csv with columns:
#Restaurant names | category | Stars | Featured Article/Review Count | *Aggregated score* | Location

filename = "AggregatedScore.csv"
f = open(filename, 'w', encoding="utf-8")
headers = "restaurant, category, stars, featured article count, aggregated score, location" + '\n'
f.write(headers)

In [ ]:
#name is already 'ylist'
#Prepare lists - type
df1=pd.read_csv('HotAndNew.csv')
category=df1[' category'].tolist()
#Prepare lists - stars
df1=pd.read_csv('HotAndNew.csv')
stars=df1[' stars'].tolist()
#count is already 'mention'
#aggregated score adjust weighting
weight = mentions*2
aggregate = [x + y for x, y in zip(stars, weight)]
#Prepare lists - location
df1=pd.read_csv('HotAndNew.csv')
location=df1[' location'].tolist()

In [ ]:
rows = zip(ylist,category,stars,mentions,aggregate,location)
with open("AggregatedScore.csv", "a", encoding="utf-8") as f:
    writer = csv.writer(f)
    for row in rows:
        writer.writerow(row)

In [ ]:

f.close()

# Tweaking To Do's
# 1) Get more featured articles via selenium
# 2) Figure out why counters stop at 1 hit

In [ ]:
print(location)

In [ ]:
#Write to csv
for name in ylist:
    f.write(ylist +','+ category +','+ stars + ','+ aggregate + ',' + location+'\n')
f.close()

#Obsolete Code for step 3
#Count REVIEWS
#https://stackoverflow.com/questions/50449088/check-if-value-from-one-dataframe-exists-in-another-dataframe
#https://www.interviewqs.com/ddi_code_snippets/rows_cols_python
#df1.assign(Counter=df1.restaurant.isin(df2.titles).astype(int))
#df1.assign(Counter=df1.restaurant.isin(df2.titles).astype(int))

In [ ]:
#Count ARTICLES MENTIONS
#Attempt 1: For loops
counter = 0
for title in ylist:    
    if title in blist:
        counter += 1
        print(title, counter)
    else:
        print(title)

In [ ]:
#Attempt 2: str. contains
#Yes, gets title and article
df2[df2['titles'].str.contains("tiger sugar")]

In [ ]:
#Attempt 3: Count occurences in lists: https://www.youtube.com/watch?v=szIFFw_Xl_M
#
for title in ylist:
    print(title, blist.count(title))

In [ ]:
for title in ylist:
    if title in blist:
        print(title, 'yes',)
    else:
        print(title)